@page "/"

<PageTitle>Home</PageTitle>

<h2>Primer Parcial Aplicada I 2024-02</h2>
<h3>Jairo Camilo</h3>
<h4>2022-0021</h4>

@*Ver*@
<button class="btn btn-primary"><Icon Name="IconName.Eye"></Icon> Ver</button>

@*Nuevo*@
<button class="btn btn-primary"><Icon Name="IconName.Plus"></Icon> Nuevo</button>

@*Modificar*@
<button class="btn btn-primary"><Icon Name="IconName.Pencil"></Icon> Modificar</button>

@*Eliminar*@
<button class="btn btn-primary"><Icon Name="IconName.Trash"></Icon> Eliminar</button>

@*Volver*@
<button class="btn btn-primary"><Icon Name="IconName.Arrow90DegLeft"></Icon> Volver</button>

@*Guadar*@
<button class="btn btn-primary"><Icon Name="IconName.Floppy"></Icon> Guardar</button>

@*Buscar*@
<button class="btn btn-primary"><Icon Name="IconName.Search"></Icon> Buscar</button>